<div layout:decorate="~{modelo-security}" layout:fragment="conteudo">
    <h1>Home</h1>
    <h2>Nome completo do usuário: <span th:text="${usuario.nomeCompleto}"></span></h2>
    <p th:text="${usuario.hashSenha}"></p>
    <h3>Opções</h3>
    <ul>
        <li>
            <a th:href="@{/protegido/peao}">Acessar /protegido/peao</a>
        </li>
        <li>
            <a th:href="@{/protegido/fodon}">Acessar /protegido/fodon</a>
        </li>
        <li>
            <a th:href="@{/protegido/god}">Acessar /protegido/god</a>
        </li>
    </ul>
</div>
